{% extends "layout.html" %}
{% block title %} Caravans {% endblock %}
{% block content %}
<br>
<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                INFORMATION ABOUT CARAVAN CATEGORIES
            </h1>
            <br>
            <h2 class="subtitle">
                1. Conventional Caravan
            </h2>
            <figure class="image is-128x128">
                <img src="/static/caravan.jpg">
            </figure>
            <p>The majority of caravans have a single axle and are between 3 and 6.5 metres long inside. Depending on the interior layout, they can sleep between two and six people. This caravan has four solid walls and a full height rood.</p>
            <br>
            <h2 class="subtitle">
                2. Pop Top Caravan
            </h2>
            <figure class="image is-128x128">
                <img src="/static/profile_picture.jpg">
            </figure>
            <p>This kind of caravan is similar to conventional caravan. The only difference is that the roof pop up and down which gives headroom in a small caravan.</p>
            <br>
            <h2 class="subtitle">
                3. Tiny Teardrop Trailer
            </h2>
            <p>Accommodation is normally basic with a double bed covering the entire floor. Some have simple cooking facilities and room to carry kit and equipment.</p>
            <br>
            <h2 class="subtitle">
                4. Fifth Wheelers
            </h2>
            <figure class="image is-128x128">
                <img src="/static/fifth_wheelers.png">
            </figure>
            <p>The fifth wheeler is a larger caravan that offers an enormous amount of living space. Moreover, some even have slide out sections for more room.</p>
            <br>
            <h2 class="subtitle">
                5. Motorhome
            </h2>
            <figure class="image is-128x128">
                <img src="/static/motorhome.png">
            </figure>
            <p></p>
        </div>
    </div>
</section>
{% endblock %}