{% extends "layout_company.html" %}
{% block title %} Delete {% endblock %}
{% block content %}
<br><br>
<section class="hero has-background-grey-lighter">
    <br>
    <h1 class="title has-text-centered">CARAVANS</h1>
    <div class="hero-body">
        <form method="POST">
        <div class="columns is-multiline">
            {% for row in caravans %}
            <div class="column is-one-third">
                <article class="media">
                    <figure class="media-left">

                        <img src="/static/profile_picture.jpg" width="256" height="256">

                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Brand: </strong> {{row[3]}}
                                <br>
                                <strong>Model: </strong> {{row[4]}}
                                <br>
                                <strong>Model Year: </strong> {{row[5]}}
                                <br>
                                <strong>Transmission: </strong> {{row[6]}}
                                <br>
                                <strong>Caravan Size: </strong> {{row[7]}}
                                <br>
                                <strong>Cost Per Day: </strong> <i class="fas fa-dollar-sign"></i> {{row[8]}}
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <p class="level-item"><button class="button is-danger is-outlined" type="submit" name="caravan" value="{{row[0]}}"><span>Delete</span><span class="icon is-small"><i class="fas fa-times"></i></span></button></p> <!-- value doğru çalışacak mı kontrol et-->
                            </div>
                        </nav>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </form>
    <h1 class="has-text-left has-text-black"> {{msg}} </h1>
    </div>
</section>
{% endblock %}